*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.boll {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    position: relative;
/*     animation-name: example;
    animation-duration: 10s;
    animation-delay: 2s; */
    animation: example 10s 2s infinite;
    filter: blur(20px);
}

myPageHeader {
    font-size: 36px;
    font-weight: 600;
}

    @keyframes example {
/*     0% {background-color:red; left:0px; top:0px;}
    25% {background-color:yellow; left:500px; top:0px;}
    50% {background-color:blue; left:500px; top:500px;}
    75% {background-color:green; left:0px; top:500px;}
    100% {background-color:red; left:0px; top:0px;} */

    0% {background-color:red; left:0vw; top:0vh;}
    25% {background-color:yellow; left:85vw; top:0vh;}
    50% {background-color:blue; left:85vw; top:60vh;}
    75% {background-color:green; left:0vw; top:60vh;}
    100% {background-color:red; left:0vw; top:0vh;}

    }