*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #474fe6, #e69053);
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.registerArea{
    width: 430px;
    height: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    background-color: #080710;
}

.registerArea .shapeOne, .shapeTwo {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shapeOne {
    background: linear-gradient(#1845ad,#23a2f6);
    left: -60px;
    top: -60px;
}

.shapeTwo {
    background: linear-gradient(to right, #f09819, #ff512f);
    right: -50px;
    bottom: -50px;
}

.registerFormWrapper {
    height: 580px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 25px;
}
.registerForm{

}

.registerForm * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.registerHeader {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.registerLabel {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;

}

.registerInput {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(232, 240, 255);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: black;
}


.registerInputCheckbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

.registerButton {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;

}

.registerButton:hover {
    background-color: rgba(255, 255, 255, 0.47);
}   

.noHoverEffect{
pointer-events: none;
}

.hr {
    margin: 10px 0 20px 0;
    border: 1px solid orangered
}

.backLink {
    color: blue
}

.link {
    text-decoration: none;
}

.registerCheckboxWrapper{

    display: inline-block;
    vertical-align: middle;
}

.registerCheckboxLabel{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;

}

/* Messages */
.registerErrorWrapper{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    min-height: 20px;
    font-style: italic;
}

.registerErrorText {
    font-style: italic;
    color: orangered;
}

.registerSuccessText {
    font-style: oblique;
    color: rgb(124, 31, 211);
}


/* Consent */

.registerCookieConsentWrapper{
    text-align: center;
    vertical-align : middle;
}

.registerCookieConsentLink{
    width: 100%;
    background-color: rgba(151, 128, 121, 0.3);
    border-color: rgba(151, 128, 121, 0.3);
    box-shadow: 5px 5px 5px rgba(99, 39, 20, 0.3);
    border-radius: 15px;    
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registerCookieConsentError {
    font-style: italic;
    color: orangered;
    font-size: 14px;
}
