*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightgray;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
}


.registerArea{
    width: 430px;
    height: 580px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #080710;
}

.registerArea .shapeOne, .shapeTwo {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shapeOne {
    background: linear-gradient(#1845ad,
        #23a2f6);
    left: -80px;
    top: -80px;
}

.shapeTwo {
    background: linear-gradient(to right, #f09819, #ff512f);
    right: -30px;
    bottom: -80px;
}

.registerForm{
    height: 560px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 30px 35px;

}

.registerForm * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.registerHeader {
    color: white;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.registerLabel {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;

}

.registerInput {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.registerInputCheckbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}

.registerButton {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.registerButton:hover {
    background-color: gray;
}

.hr {
    margin: 20px 0 20px 0;
    border: 1px solid red
}

.backLink {
    color: blue
}

.link {
    text-decoration: none;
}

.registerCheckboxWrapper{
    display: inline-block;
    vertical-align: middle;
}

.registerCheckboxLabel{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;

}

.registerErrorWrapper{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    min-height: 20px;
}

.registerErrorText {
    color: orangered;
}

.registerSuccessText {
    color: green;
}
