*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    background-image: linear-gradient(to right, #8360c3, #2ebf72);
}


.loginArea{
    width: 430px;
    height: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #080710;
}

.loginArea .shapeOne, .shapeTwo {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shapeOne {
    background: linear-gradient(#2c8017,#84b996, #a1efbb);
    left: 290px;
    top: -60px;
}

.shapeTwo {
    background: linear-gradient(to right, #e427c2, #dba8d8);
    right: 290px;
    bottom: -60px;
}

.loginFormWrapper {
    height: 580px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 25px;
}

.loginForm{

}

.loginForm * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.loginHeader {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.loginLabel {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;

}

.loginInput {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(232, 240, 255);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;

}

.loginButton {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.loginButton:hover {
    background-color: rgba(255, 255, 255, 0.47);
}   

.noHoverEffect{
    pointer-events: none;
    }

.hr {
    margin: 10px 0 20px 0;
    border: 1px solid green
}

.backLink {
    color: green
}

.link {
    text-decoration: none;
}


/* Messages */
.loginPasswordErrorMessageWrapper,
.loginUsernameErrorMessageWrapper{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    min-height: 20px;
}

.loginErrorText {
    color: orangered;
}


/* Consent */
.loginCookieConsentWrapper{
    text-align: center;
    vertical-align : middle;
}

.loginCookieConsentLink{
    width: 100%;
    background-color: rgba(151, 128, 121, 0.3);
    border-radius: 15px;    
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.loginCookieConsentError {
    font-style: italic;
    color: orangered;
    font-size: 14px;
}

.loginReCaptchaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}